Archive/CRIE Enterprise v1.0.2/crie-canonical-v1.0.2/workflows/shared/SW-026_execution_logger.json
{
  "name": "SW-026 Execution Logger",
  "meta": {
    "crie": {
      "sub_workflow_id": "SW-026",
      "spec": "§266 (Module 13)",
      "purpose": "Create structured execution logs: Workflow Log, AI Log, Performance Log, Audit Log.",
      "single_responsibility": "logging (§269 node design rules)",
      "sprint": "Sprint 8",
      "license": "All Rights Reserved, Copyright (c) 2026 Dawod Manasra."
    }
  },
  "nodes": [
    {
      "id": "start",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {},
      "notes": "Input contract: { correlation_id, workflow_id, workflow_version, log_type, payload, ai_meta?, perf_meta?, audit_meta? }."
    },
    {
      "id": "route",
      "name": "Route by log_type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [420, 300],
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "conditions": [ { "leftValue": "={{ $json.log_type }}", "rightValue": "workflow", "operator": { "type": "string", "operation": "equals" } } ] }, "outputKey": "workflow" },
            { "conditions": { "conditions": [ { "leftValue": "={{ $json.log_type }}", "rightValue": "ai", "operator": { "type": "string", "operation": "equals" } } ] }, "outputKey": "ai" },
            { "conditions": { "conditions": [ { "leftValue": "={{ $json.log_type }}", "rightValue": "performance", "operator": { "type": "string", "operation": "equals" } } ] }, "outputKey": "performance" },
            { "conditions": { "conditions": [ { "leftValue": "={{ $json.log_type }}", "rightValue": "audit", "operator": { "type": "string", "operation": "equals" } } ] }, "outputKey": "audit" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "notes": "§266: four log outputs. Fallback output raises a handled error (unknown log_type)."
    },
    {
      "id": "log_workflow",
      "name": "Write Workflow Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 120],
      "parameters": { "operation": "insert", "schema": "monitoring", "table": "workflow_logs",
        "columns": "execution_id, correlation_id, workflow_id, workflow_name, workflow_version, prompt_version, repository_version, status, runtime_ms, retry_count, total_cost, input_payload, output_payload, log_payload, error_payload" },
      "notes": "Workflow Log."
    },
    {
      "id": "log_ai",
      "name": "Write AI Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 240],
      "parameters": { "operation": "insert", "schema": "monitoring", "table": "ai_requests",
        "columns": "correlation_id, prompt_id, provider, model, input_tokens, output_tokens, latency_ms, estimated_cost, confidence, success" },
      "notes": "AI Log. Fields per §16 telemetry rules (input/output tokens, model, provider, latency, estimated cost)."
    },
    {
      "id": "log_perf",
      "name": "Write Performance Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 360],
      "parameters": { "operation": "insert", "schema": "monitoring", "table": "telemetry",
        "columns": "correlation_id, workflow_runtime_ms, node_runtime_ms, retrieval_latency_ms, reasoning_latency_ms, retry_count, success" },
      "notes": "Performance Log. §16 required metrics."
    },
    {
      "id": "log_audit",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 480],
      "parameters": { "operation": "insert", "schema": "audit", "table": "={{ $json.audit_meta.table }}",
        "columns": "event_type, \"user\", timestamp, object_type, object_id, changes" },
      "notes": "Audit Log -> immutable audit.* (§230/0023). INSERT-only; UPDATE/DELETE are revoked at the DB (§239.1)."
    },
    {
      "id": "done",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [960, 300],
      "parameters": { "assignments": { "assignments": [ { "id": "r1", "name": "logged", "value": true, "type": "boolean" } ] } },
      "notes": "§269: return structured JSON."
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Route by log_type", "type": "main", "index": 0 }]] },
    "Route by log_type": { "main": [
      [{ "node": "Write Workflow Log", "type": "main", "index": 0 }],
      [{ "node": "Write AI Log", "type": "main", "index": 0 }],
      [{ "node": "Write Performance Log", "type": "main", "index": 0 }],
      [{ "node": "Write Audit Log", "type": "main", "index": 0 }]
    ] },
    "Write Workflow Log": { "main": [[{ "node": "Return", "type": "main", "index": 0 }]] },
    "Write AI Log": { "main": [[{ "node": "Return", "type": "main", "index": 0 }]] },
    "Write Performance Log": { "main": [[{ "node": "Return", "type": "main", "index": 0 }]] },
    "Write Audit Log": { "main": [[{ "node": "Return", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
