workflows/master/WF-005_Administration.json
{
  "name": "WF-005 Administration",
  "meta": {
    "crie": {
      "workflow_id": "WF-005",
      "title": "Administration",
      "reconciliation": "R-02 (Administration = WF-005; WF-004 is Output Generation)",
      "trigger": "schedule (§157)",
      "boundary": "R-17: WF-005 produces/refreshes DASHBOARD DATA only. It renders NO UI. Dashboards are the admin.* views surfaced by the external BI tool.",
      "slice": "PR-1 slice: only nodes whose backends already exist in migrations 0001-0029 are implemented (Repository Health, Repository Analytics, Cost Report, Orphan Sweep, threshold evaluation, alert persistence). Unbuilt sub-workflows are intentionally omitted (see deferred_dependencies) rather than stubbed with dead executeWorkflow calls.",
      "aggregation": "Each upstream branch tags its output with a stable _source identifier (repository_health / repository_statistics / cost_report / orphan_sweep). The Evaluate Alert Thresholds Code node aggregates by _source (never by payload shape), which is deterministic and resilient to schema changes. No Merge node is used (this repo has none; the Code-node fan-in is the established pattern).",
      "failure_isolation": "Only the Orphan Sweep node is failure-isolated (onError: continueRegularOutput) so a sweep failure does not block operational reporting. A reporting-node (Postgres) failure aborts the run by design — it signals a genuine DB fault.",
      "config_driven": "No hardcoded cadence/thresholds (Principle 7). Reads $vars.CRIE_ADMIN_SCHEDULE_CRON and $vars.CRIE_ALERT_THRESHOLDS.",
      "rollout": "Staged over two PRs. PR-1 (this) builds the slice and wires the Orphan Sweep by CALLING SW-016 — so WF-005 becomes a second sweep scheduler alongside SW-016's own Schedule Trigger. PR-2 (small follow-up) disables SW-016's Schedule Trigger to reach a single scheduler. The interim dual-scheduler period is intentional; the sweep is append-only/idempotent so no double remediation occurs; temporary duplicate alerts are an accepted trade-off during the staged rollout.",
      "binding": "The Orphan Sweep node calls SW-016 via executeWorkflow. Imports mint new IDs — RE-BIND this node to SW-016 by ID after import (CLAUDE.md rule 4). waitForSubWorkflow is true so WF-005 receives SW-016's summary before aggregating.",
      "ci": "WF-005 is deliberately NOT added to ci/active_workflows.txt in PR-1; it is added in PR-2 when it becomes the production scheduler. It can be validated ad-hoc by passing its path explicitly to ci/validate_workflows.py.",
      "deferred_dependencies": {
        "note": "Intentionally omitted from the PR-1 slice — backends not yet built. NOT stubbed with dead executeWorkflow calls (the CI validator would flag those). Add when implemented.",
        "items": [
          { "ref": "SW-019", "role": "Health Checks fan-out", "impact": "feeds monitoring.health_checks; Repository Health is sparse until built" },
          { "ref": "SW-026", "role": "Execution Logger", "impact": "no per-run Workflow/AI/Audit log for the admin run" },
          { "ref": "SW-027", "role": "Telemetry Collector (open/close span)", "impact": "no telemetry span for the admin run" },
          { "ref": "SW-028", "role": "Notification dispatch", "impact": "alerts are persisted but not pushed (Email/Slack/Teams)" },
          { "ref": "SW-018", "role": "Output/Prompt Validator", "impact": "no scheduled prompt validation" },
          { "ref": "UT-000", "role": "Config/Startup Validation", "impact": "no scheduled configuration validation" },
          { "ref": "UT-006", "role": "Benchmark runner", "impact": "no scheduled benchmark execution" }
        ]
      },
      "license": "All Rights Reserved, Copyright (c) 2026 Dawod Manasra."
    }
  },
  "nodes": [
    {
      "id": "trigger_schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "={{ $vars.CRIE_ADMIN_SCHEDULE_CRON }}" }
          ]
        }
      },
      "notes": "§157 WF-005 runs on schedule. Cron is config-driven ($vars.CRIE_ADMIN_SCHEDULE_CRON); NO hardcoded cadence (Principle 7)."
    },
    {
      "id": "init",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [420, 400],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "correlation_id", "value": "={{ $execution.id }}", "type": "string" },
            { "id": "a2", "name": "workflow_id", "value": "WF-005", "type": "string" },
            { "id": "a3", "name": "started_at", "value": "={{ $now.toISO() }}", "type": "string" }
          ]
        }
      },
      "notes": "§159 Standard Workflow Pattern: Trigger -> Initialize -> fan-out. Correlation ID ties every downstream record (alerts) to this run."
    },
    {
      "id": "repo_health",
      "name": "Repository Health",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 160],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'repository_health' AS _source, * FROM repository.repository_health();",
        "options": {}
      },
      "credentials": { "postgres": { "id": "36wScZRTy6L3yvWQ", "name": "Postgres account" } },
      "notes": "§528 Repository Health. repository.repository_health() (migration 0015) returns TABLE(component,state,checked_at) from monitoring.health_checks. Data is sparse until SW-019 (deferred) populates health_checks. Tagged _source='repository_health' for source-keyed aggregation."
    },
    {
      "id": "repo_analytics",
      "name": "Repository Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'repository_statistics' AS _source, * FROM repository.repository_statistics();",
        "options": {}
      },
      "credentials": { "postgres": { "id": "36wScZRTy6L3yvWQ", "name": "Postgres account" } },
      "notes": "§533/§560 Repository Analytics. repository.repository_statistics() (migration 0015) returns document/KU/evidence/chunk/embedding counts. Tagged _source='repository_statistics'."
    },
    {
      "id": "cost_report",
      "name": "Cost Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 440],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'cost_report' AS _source, * FROM admin.vw_cost_intelligence;",
        "options": {}
      },
      "credentials": { "postgres": { "id": "36wScZRTy6L3yvWQ", "name": "Postgres account" } },
      "notes": "§198/§564 Cost Report. admin.vw_cost_intelligence (migration 0024) aggregates monitoring.ai_requests. Sparse until ingestion AI-cost logging populates ai_requests. Tagged _source='cost_report'."
    },
    {
      "id": "orphan_sweep",
      "name": "Orphan Sweep (SW-016)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [680, 600],
      "onError": "continueRegularOutput",
      "parameters": {
        "workflowId": "SW-016",
        "options": { "waitForSubWorkflow": true }
      },
      "notes": "Folds in the Orphan Sweep by calling SW-016 (via its passthrough 'When Called by WF-005' trigger). waitForSubWorkflow=true so WF-005 receives SW-016's run summary before aggregating. onError='continueRegularOutput' so a sweep failure does NOT block operational reporting. REBIND to SW-016 by ID after import (CLAUDE.md rule 4). If the n8n instance predates the node-level 'onError' property, use 'continueOnFail': true instead."
    },
    {
      "id": "tag_orphan_sweep",
      "name": "Tag Orphan Sweep",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 600],
      "parameters": {
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "t1", "name": "_source", "value": "orphan_sweep", "type": "string" }
          ]
        },
        "options": {}
      },
      "notes": "Tags SW-016's summary item with _source='orphan_sweep' (executeWorkflow output cannot self-tag in SQL). includeOtherFields=true preserves SW-016's summary fields (remediated_count, etc.)."
    },
    {
      "id": "evaluate_alerts",
      "name": "Evaluate Alert Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 400],
      "parameters": {
        "jsChildProcess": false,
        "jsCode": "// WF-005 — Alert Threshold Evaluation (§387/§569), PR-1 slice.\n// Aggregates the upstream branches by their EXPLICIT _source tag (never by\n// payload shape), so it is deterministic and resilient to schema changes.\n// Thresholds are config-driven ($vars.CRIE_ALERT_THRESHOLDS); no hardcoded\n// values (Principle 7).\nconst cfg = $vars.CRIE_ALERT_THRESHOLDS ? JSON.parse($vars.CRIE_ALERT_THRESHOLDS) : {};\nconst corr = $('Initialize').first().json.correlation_id;\n\n// Group every incoming item by its source identifier.\nconst bySource = {};\nfor (const it of $input.all()) {\n  const j = it.json || {};\n  if (!j._source) continue;\n  (bySource[j._source] = bySource[j._source] || []).push(j);\n}\n\nconst alerts = [];\nconst raise = (alert_type, severity, source, message, context) =>\n  alerts.push({ alert_type, severity, source, message,\n    context: JSON.stringify(context || {}), correlation_id: corr });\n\n// --- Cost (daily) threshold ---\nconst cost = (bySource['cost_report'] || [])[0];\nif (cost && cfg.daily_cost_max !== undefined && cost.daily_cost != null\n    && Number(cost.daily_cost) > Number(cfg.daily_cost_max)) {\n  raise('HighCost', 'Warning', 'cost', 'Daily cost above threshold',\n    { observed: cost.daily_cost, threshold: cfg.daily_cost_max });\n}\n\n// --- Component health: any non-Healthy component ---\nfor (const h of (bySource['repository_health'] || [])) {\n  if (h.state && h.state !== 'Healthy') {\n    raise('ProviderFailure',\n      (h.state === 'Offline' || h.state === 'Critical') ? 'Critical' : 'Warning',\n      h.component || 'unknown', 'Component health degraded',\n      { component: h.component, state: h.state });\n  }\n}\n\n// --- Orphan sweep RUN health (not per-document; the sweep self-alerts those) ---\n// A completed sweep emits a summary carrying remediated_count. Its absence means\n// the sweep branch errored/produced nothing this run -> surface that.\nconst sweepItems = bySource['orphan_sweep'] || [];\nconst sweepCompleted = sweepItems.some(s => typeof s.remediated_count !== 'undefined');\nif (!sweepCompleted) {\n  raise('WorkflowFailure', 'Warning', 'orphan-sweep',\n    'Orphan sweep did not complete on this admin run',\n    { note: 'no sweep summary received (branch errored or empty)' });\n}\n\n// repository_statistics is aggregated in bySource['repository_statistics'] and\n// available for future rules; no threshold is defined for it in the PR-1 slice.\n\nreturn alerts.map(a => ({ json: a }));"
      },
      "notes": "§387/§569 Alert evaluation + source-keyed aggregator. Reads all four branches via $input.all() and groups by _source. Defensive: tolerates any absent branch without throwing. Emits zero items when nothing breaches (Persist Alerts then simply does not run)."
    },
    {
      "id": "persist_alerts",
      "name": "Persist Alerts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 400],
      "parameters": {
        "operation": "insert",
        "schema": "monitoring",
        "table": "alerts",
        "columns": "alert_type, severity, source, message, context, correlation_id"
      },
      "credentials": { "postgres": { "id": "36wScZRTy6L3yvWQ", "name": "Postgres account" } },
      "notes": "Writes to monitoring.alerts (migration 0026). context is a JSON string cast into the jsonb column. admin.vw_alert_center surfaces these in the BI tool (§569, R-17)."
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Initialize", "type": "main", "index": 0 }]] },
    "Initialize": { "main": [[
      { "node": "Repository Health", "type": "main", "index": 0 },
      { "node": "Repository Analytics", "type": "main", "index": 0 },
      { "node": "Cost Report", "type": "main", "index": 0 },
      { "node": "Orphan Sweep (SW-016)", "type": "main", "index": 0 }
    ]] },
    "Repository Health": { "main": [[{ "node": "Evaluate Alert Thresholds", "type": "main", "index": 0 }]] },
    "Repository Analytics": { "main": [[{ "node": "Evaluate Alert Thresholds", "type": "main", "index": 0 }]] },
    "Cost Report": { "main": [[{ "node": "Evaluate Alert Thresholds", "type": "main", "index": 0 }]] },
    "Orphan Sweep (SW-016)": { "main": [[{ "node": "Tag Orphan Sweep", "type": "main", "index": 0 }]] },
    "Tag Orphan Sweep": { "main": [[{ "node": "Evaluate Alert Thresholds", "type": "main", "index": 0 }]] },
    "Evaluate Alert Thresholds": { "main": [[{ "node": "Persist Alerts", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveDataSuccessExecution": "all", "saveExecutionProgress": true },
  "pinData": {}
}
